{% extends 'base.html' %}
{% block title %}
Scrumptious: New Recipe
{% endblock title %}
{% block content %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
          </form>
{% endblock content %}
