{% extends 'base.html' %}
{% block title %}
Scrumptious: {{ recipe_object.title }}
{% endblock title %}
{% block content %}
        <h1>
            {{ recipe_object.title }}
        </h1>
        <img src="{{ recipe_object.picture }}">
        <div>
            <a href="{% url 'edit_recipe' recipe_object.id %}">Edit</a>
        <div>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <br>
            4 out of 5 Stars
        </div>
        <p>{{ recipe_object.description }}</p>
        <h2>
            Ingredients
        </h2>
        <table>
            <thead>
                <th>
                    Amount
                </th>
                <th>
                    Food Item
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1 cup
                    </td>
                    <td>
                        Green Beans
                    </td>
                </tr>
                <tr>
                    <td>
                        3 ears
                    </td>
                    <td>
                        Fresh Corn
                    </td>
                </tr>
                <tr>
                    <td>
                        2 cups
                    </td>
                    <td>
                        Tomatillo Salsa
                    </td>
                </tr>
                <tr>
                    <td>
                        8
                    </td>
                    <td>
                        Corn Torillas
                    </td>
                </tr>
                <tr>
                    <td>
                        0.5 Cups
                    </td>
                    <td>
                        Cotija Cheese
                    </td>
                </tr>
            </tbody>
        </table>
        <h2>
            Steps
        </h2>
        <ol>
            <li>Blanch the green beans</li>
            <li>Grill the green beans and the ears of corn</li>
            <li>Chop the green beans</li>
            <li>Slice the corn off the cob</li>
            <li>Grill the tortillas</li>
            <li>Assemble the tacos with veggies, salsa, and cheese</li>
        </ol>
{% endblock content %}
