{% extends 'base.html' %}
{% block title %}
Scrumptious: Edit
{% endblock title %}
{% block content %}
        <form method="post">
            {% csrf_token %}
            {{ post_form.as_p }}
            <button>Save</button>
          </form>
{% endblock content %}
