{% extends 'base.html' %}
{% block title %}
Scrumptious Recipes
{% endblock title %}
{% block content %}
    <h1>
        Scrumptious Recipes
    </h1>
    <h2>
       Good food curated by our chefs
    </h2>
    <div id="grid-for-main">
        {% for recipe in recipe_list %}

        <div>

            <h3>
                <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
            </h3>
            <img src="{{ recipe.picture }}">
            <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <br>
                <br>
                4 out of 5 Stars!
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
