{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
</head>
<body>
    <header>
        <nav class="for-header">
            <a href="{% url 'show_list' %}" class="for-header">Main Page</a>
            <a href="{% url 'create_recipe' %}" class="for-header">Create a Recipe</a>
            {% if user.is_authenticated %}
            Hello, {{ user.first_name }}
            {% else %}
            <a href="{% url 'signup' %}" class="for-header">Sign Up</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer>
        Made with love by Scrumptious Readers
    </footer>
</body>
</html>
